span {
    margin-right: 5px;
}

#search-bar-container {
    width: 100%;
}


.button {
    background: darkgoldenrod;
    width: 100%;
    border: none;
}
.input {
    border-color: darkgoldenrod;
  }

  a.navbar-item {
    text-decoration: none;
}

a.navbar-item:hover {
    text-decoration: underline;
    text-decoration-color: darkgoldenrod;
    text-decoration-style: solid;
}