<nav class="navbar is-transparent">
    <!-- logo/home -->
    <div class="navbar-brand">
        <a class="navbar-item has-text-dark has-text-weight-bold" routerLink="">
            <span>Home</span>
            <span class="icon is-small">
                <i class="fa fa-home"></i>
            </span>
        </a>
        <!--navbar burger for mobile devices-->
        <div class="navbar-burger is-large" id="navbar-burger-id">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--menu-->
    <div class="navbar-menu has-text-centered" id="navbar-menu-id">
        <div class="navbar-end">
            <a class="navbar-item has-text-dark has-text-weight-bold" routerLink='users'>Users</a>
            <!--contact -->
            <a class="navbar-item has-text-dark has-text-weight-bold" routerLink='contact'>
                <span>Contact</span>
                <span class="icon is-small">
                    <i class="fa fa-envelope"></i>
                </span>
            </a>
            <!--sign up -->
            <a class="navbar-item has-text-dark has-text-weight-bold" routerLink='sign-up'>
                <span>Sign Up</span>
                <span class="icon is-small">
                    <i class="fa fa-user-circle"></i>
                </span>
            </a>
            <!--log in -->
            <a class="navbar-item has-text-dark has-text-weight-bold" routerLink='log-in'>
                <span>Log in</span>
                <span class="icon is-small">
                    <i class="fa fa-sign-in"></i>
                </span>
            </a>
        </div>
    </div>
</nav>