<nav class="navbar is-fixed-top">
    <!-- logo/home -->
    <div class="navbar-brand">
        <a *ngIf="!isLoggedIn" class="navbar-item has-text-dark has-text-weight-bold" routerLink="">
            <span>Cookbook</span>
            <span class="icon is-small">
                <i class="fa fa-home"></i>
            </span>
        </a>
        <a *ngIf="isLoggedIn" class="navbar-item has-text-dark has-text-weight-bold" routerLink="/main">
            <span>Cookbook</span>
            <span class="icon is-small">
                <i class="fa fa-home"></i>
            </span>
        </a>
        <!--navbar burger for mobile devices-->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
    </div>
    <!--menu-->
    <div class="navbar-menu has-text-centered" id="navbar-menu-id">
        <!--Search bar-->
        <div class="navbar-item is-expanded" id="search-bar-item">
            <div class="container" id="search-bar-container">
                <template #searchbarcontainer></template>
            </div>
        </div>
        <div class="navbar-end">
            <!--<a class="navbar-item has-text-dark has-text-weight-bold" routerLink='users'>Users</a>-->
            <!--sign up -->
            <a *ngIf="!isLoggedIn" class="navbar-item has-text-dark has-text-weight-bold" routerLink='sign-up'>
                <span>Sign Up</span>
                <span class="icon is-small">
                    <i class="fa fa-user-circle"></i>
                </span>
            </a>
            <!--log in -->
            <a *ngIf="!isLoggedIn" class="navbar-item has-text-dark has-text-weight-bold" routerLink='log-in'>
                <span>Log In</span>
                <span class="icon is-small">
                    <i class="fa fa-sign-in"></i>
                </span>
            </a>
            <!--log out -->
            <a *ngIf="isLoggedIn" class="navbar-item has-text-dark has-text-weight-bold" (click)="logOut()">
                <span>Log Out</span>
                <span class="icon is-small">
                    <i class="fa fa-sign-out"></i>
                </span>
            </a>
            <!--contact -->
            <a class="navbar-item has-text-dark has-text-weight-bold" routerLink='contact'>
                <span>Contact</span>
                <span class="icon is-small">
                    <i class="fa fa-envelope"></i>
                </span>
            </a>
            <!--learn more -->
            <a class="navbar-item has-text-dark has-text-weight-bold">
                <span>Learn More</span>
                <span class="icon is-small">
                    <i class="fa fa-info-circle"></i>
                </span>
            </a>
        </div>
    </div>
</nav>