.navbar-item {
    text-shadow: 0 0 16px black;
}

span {
    margin-right: 5px;
}

#search-bar-container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

/*desktop*/
@media only screen and (min-width: 768px) {
    #search-bar-container {
        padding-left: 2%;
        padding-right: 2%;
    }
}

.button {
    background: darkgoldenrod;
    width: 100%;
    border: none;
}
.input {
    border-color: darkgoldenrod;
  }

.navbar-burger {
    color: white;
}
/*.navbar-menu, .navbar-end, .navbar-item {
    background-color: darkgoldenrod;
}*/