.navbar {
    background: white;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-menu{
    background:white;
}

span {
    margin-right: 5px;
}

#search-bar-container {
    width: 70%;
}


.button {
    background: darkgoldenrod;
    width: 100%;
    border: none;
}
.input {
    border-color: darkgoldenrod;
  }