<section class="hero is-fullheight has-background-light">
    <div class="hero-body">
        <div class="container">
            <form id="signupForm" (ngSubmit)="processForm()">
                <div class="field">
                    <p class="subtitle is-2 has-text-centered has-text-black has-text-weight-semibold">Add a recipe</p>
                    <div class="help is-error" *ngIf="showErrorMessage">
                        <p class="has-text-weight-semibold has-text-black" style="background-color:red">
                            {{ errorMessage }}
                        </p>
                    </div>
                </div>
                <!--title input-->
                <div class="field">
                    <input type="text" name="title" class="input is-primary is-large" placeholder="Title" [(ngModel)]="title" required #titleInput="ngModel">
                </div>
                <!--ingredients-->
                <div class="field" id="iLabel">
                    <label class="label has-text-dark has-text-weight-semibold">List of ingredients:</label>
                </div>
                <div class="field has-addons" *ngFor="let ing of ingredients; let i = index; trackBy:customTrackBy;" id="fIng-{{i}}">
                    <p class="control is-expanded">
                        <input type="text" name="ingredient{{i}}" class="input is-primary" placeholder="Ingredient: 100gr. flour" [(ngModel)]="ingredients[i]" required>
                    </p>
                    <p class="control has-icons">
                        <button type="button" class="button has-text-white" (click)="removeIngredient(i)" id="b1-{{i}}">
                            <span class="icon">
                                <i class="fa fa-times" id="i-{{i}}"></i>
                            </span>
                        </button>
                    </p>
                </div>
                <!--new ingredient button-->
                <div class="field" id="fb-2">
                    <button type="button" class="button has-text-white has-text-weight-semibold" id="b-2"(click)="addIngredient()">New ingredient</button>
                </div>
                <!--steps-->
                <div class="field" id="sLabel">
                    <label class="label has-text-dark has-text-weight-semibold">Steps</label>
                </div>
                <div class="field" id="textAreaField">
                    <textarea class="textarea is-primary" name="steps" placeholder="Describe how you made it" [(ngModel)]="steps" required #stepsInput="ngModel"></textarea>
                </div>
                <!--publish button-->
                <div class="field" id="fb-3">
                    <button type="submit" class="button is-medium has-text-white has-text-weight-semibold" id="b-3">Publish</button>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <section class="modal-card-body">
            <p class="has-text-dark has-text-weight-semibold">Recipe added successfully</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button has-text-white has-text-weight-semibold" id="b-4">Add a recipe</button>
            <button class="button has-text-white has-text-weight-semibold" id="b-5" routerLink="">Go to main</button>
        </footer>
    </div>
</div>
