.hero.has-background-light {
    background-image: url('/assets/img/bg-image7.jpg') !important;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.input, .textarea {
    border-color: darkgoldenrod;
    border-radius: 30px;
}

[id*="b1-"] {
    background: darkgoldenrod;
}

#b-2 {
    background: darkgoldenrod;
    /*border-color:white;*/
    border:none;
    border-radius: 30px;
}

#b-3 {
    background-color: darkgoldenrod;
    /*border-color:white;*/
    border: none;
    border-radius: 30px;
    width: 100%;
}

#b-4, #b-5 {
    background-color: darkgoldenrod;
    /*border-color:white;*/
    border: none;
    border-radius: 30px;
    width: 50%;
}

#fb-2 {
    padding-top: 0;
}

#fb-3 {
    padding-bottom: 5%;
}

/*mobile*/
.container {
    margin-top: 3%;
}

.modal-card {
    width: 80%;
    border-radius: 10px;
}

/*desktop*/
@media only screen and (min-width:768px){
    .container {
        padding-left: 25%;
        padding-right: 25%;
    }
    .modal-card {
        width: 40%;
    }
}

/*ipad*/
@media only screen and (width:768px){
    .container {
        padding-left: 20%;
        padding-right: 20%;
    }
    .modal-card {
        width: 50%;
    }
}

#signupForm {
    background: rgb(235, 235, 235, 0.6);
    border-color: darkgoldenrod;
    border-radius: 10px;
}

.field {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#iLabel, #sLabel {
    padding-bottom: 0;
}

[id*="fIng-"], #textAreaField {
    padding-top: 0;
    padding-bottom: 0;
}


