<section class="hero is-fullheight has-background-light">
    <div class="hero-body">
        <div class="container">
            <div class="card" *ngIf="recipe">
                <div class="card-content">
                    <!--show errors-->
                    <div class="help is-error" *ngIf="showErrorMessage">
                        <p class="has-text-weight-semibold has-text-black" style="background-color:red">
                            {{ errorMessage }}
                        </p><br>
                    </div>
                    <!--Image Slider-->
                    <div class="imageSliderContainer" *ngIf="recipe.imagesData[0]" (mouseover)="showButtons()" (mouseout)="hideButtons()">
                        <button class="button" type="button" id="prevButtonId" (click)="prevImg()" style="display: none">
                            <span class="icon is-small has-text-white">
                                <i class="fa fa-arrow-circle-left"></i>
                            </span>
                        </button>
                        <img src="{{recipe.imagesData[0]}}" id="imgSlider">
                        <button class="button" type="button" id="nextButtonId" (click)="nextImg()" style="display: none">
                            <span class="icon is-small has-text-white">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </button>
                    </div>
                    <hr *ngIf="recipe.imagesData[0]">
                    <!--Publisher-->
                    <label class="label has-text-dark has-text-weight-semibold">
                        <span class="icon is-small">
                            <i class="fa fa-user"></i>
                        </span>
                        <span> Publisher: {{recipe.user}}</span>
                    </label>
                    <hr>
                    <!--Title-->
                    <p class="control" *ngIf="context=='my-recipes'">
                        <button type="button" class="button has-text-dark" title="Edit" style="float: right; border: none;" (click)="editTitle()">
                        <span class="icon is-small">
                            <i class="fa fa-edit"></i>
                        </span>
                        </button>
                    </p><br>
                    <label class="label has-text-dark has-text-weight-semibold">
                        <span class="icon is-small">
                            <i class="fa fa-paperclip"></i>
                        </span>
                        <span> Title:</span><span *ngIf="!eTitle"> {{recipe.title}}</span>
                    </label>
                    
                    <input *ngIf="eTitle" value="{{title}}" id="iTitle" type="text" name="title" class="input is-primary" [(ngModel)]="title" required #titleInput="ngModel">
                    <hr>
                    <!--Ingredients-->
                    <p class="control" *ngIf="context=='my-recipes'">
                        <button type="button" class="button has-text-dark" title="Edit" style="float: right; border: none;" (click)="editIngredients()">
                        <span class="icon is-small">
                            <i class="fa fa-edit"></i>
                        </span>
                        </button>
                    </p><br>
                    <label class="label has-text-dark has-text-weight-semibold">
                        <span class="icon is-small">
                            <i class="fa fa-list-ul"></i>
                        </span>
                        <span> Ingredients:</span><br>

                        <div *ngIf="!eIngs">
                            <span *ngFor="let it of recipe.ingredients" style="margin-left:10%">
                                <span class="icon is-small">
                                    <i class="fa fa-slack"></i>
                                </span>
                                <span> {{it}}<br></span>
                            </span>
                        </div>
                    </label>

                    <div *ngIf="eIngs">
                        <div class="field has-addons" *ngFor="let ing of ingredients; let i = index; trackBy:customTrackBy;" id="fIng-{{i}}">
                            <p class="control is-expanded">
                                <input value="{{ingredients[i]}}" type="text" name="ingredient{{i}}" class="input is-primary" [(ngModel)]="ingredients[i]" required>
                            </p>
                            <p class="control has-icons">
                                <button type="button" class="button has-text-white" title="Delete ingredient" (click)="removeIngredient(i)" id="b1-{{i}}">
                                    <span class="icon">
                                        <i class="fa fa-times" id="i-{{i}}"></i>
                                    </span>
                                </button>
                            </p>
                        </div>
                        <!--new ingredient button-->
                        <div class="field" id="fb-2">
                            <button type="button" class="button has-text-white" id="b-2"(click)="addIngredient()">New ingredient</button>
                        </div>
                    </div>
                    <hr>
                    <!--Steps-->
                    <p class="control" *ngIf="context=='my-recipes'">
                        <button type="button" class="button has-text-dark" title="Edit" style="float: right; border: none;" (click)="editSteps()">
                        <span class="icon is-small">
                            <i class="fa fa-edit"></i>
                        </span>
                        </button>
                    </p><br>
                    <label class="label has-text-dark has-text-weight-semibold">
                        <span class="icon is-small">
                            <i class="fa fa-pencil"></i>
                        </span>
                        <span> Steps:</span><span *ngIf="!eSteps"> {{recipe.steps}}</span>
                    </label>

                    <textarea *ngIf="eSteps" value="{{steps}}" class="textarea is-primary" name="steps" [(ngModel)]="steps" required #stepsInput="ngModel"></textarea>
                    <br>
                    <!--Buttons to accept or cancel the edition-->
                    <div *ngIf="eTitle || eIngs || eSteps">
                        <button class="button has-text-white" id="accept" (click)="acceptEdit()">Accept</button>
                        <button class="button has-text-white" id="cancel" (click)="cancelEdit()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>