.hero.has-background-light {
    background-image: url('/assets/img/bg-image8.jpg') !important;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.card {
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
}

.container {
    background: rgb(235, 235, 235, 0.6);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    margin-top: 3%;
}

@media only screen and (min-width: 768px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

hr {
    border-color: darkgoldenrod;
    border-style: solid;
}

.input, .textarea {
    border-color: darkgoldenrod;
    border-radius: 30px;
}

[id*="b1-"] {
    background: darkgoldenrod;
}

#b-2 {
    background: darkgoldenrod;
    border:none;
    border-radius: 30px;
}

#accept, #cancel {
    background: darkgoldenrod;
    width: 49%;
    border: none;
    border-radius: 30px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.imageSliderContainer {
    width: 100%;
    position: relative;
}

.imageSliderContainer img {
    width: 100%;
    height: auto;
}

.imageSliderContainer button {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: darkgoldenrod;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }

  .imageSliderContainer #prevButtonId {
      top: 50%;
      left: 0;
  }

  .imageSliderContainer #nextButtonId {
    top: 50%;
    left: 100%;
}

