.hero {
    background-image: url('/assets/img/bg-image4.jpg') !important;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  /*mobile*/
  .findRecipeContainer{
    width: 100%;
  }
  
  /*desktop*/
  @media only screen and (min-width: 768px) {
    .findRecipeContainer {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
  
  #b-4 {
    border: none;
    background-color: darkgoldenrod; 
    width: 100%;
  }
  
  .input {
    border-color: darkgoldenrod;
  }

  .table {
      width: 100%;
      background: none;
  }

  /*mobile*/
  #b-1, #b-2, #b-3 {
    border-color: white;
    background-color: darkgoldenrod; 
    width: 50%;
    margin: 1%;
  }
  /*desktop*/
  @media only screen and (min-width: 768px) {
    #b-1, #b-2, #b-3 {
        width: 18%;
    }
  }

  /*ipad*/
  @media only screen and (width: 768px) {
    #b-1, #b-2, #b-3 {
        width: 20%;
    }
    .findRecipeContainer {
      padding-left: 17%;
      padding-right: 17%;
    }
  }
