.hero {
    background-image: url('/assets/img/bg-image9.jpg') !important;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  /*mobile*/
  .findRecipeContainer{
    width: 100%;
    margin-top: 10%;
  }
  
  /*desktop*/
  @media only screen and (min-width: 768px) {
    .findRecipeContainer {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
  
  /*#b-4 {
    border: none;
    background-color: darkgoldenrod; 
    width: 100%;
  }*/
  
  .input {
    border-color: darkgoldenrod;
  }

  #mainTable {
      width: 100%;
      background: none;
      margin-top: -10%;
  }

  /*mobile*/
  #b-1, #b-2, #b-3 {
    /*border-color: white;*/
    border: none;
    border-radius: 30px;
    background-color: darkgoldenrod; 
    width: 55%;
    margin: 1%;
    box-shadow: 2px 2px #000000;
  }
  /*desktop*/
  @media only screen and (min-width: 768px) {
    #b-1, #b-2, #b-3 {
        width: 18%;
    }
  }

  /*ipad*/
  @media only screen and (width: 768px) {
    #b-1, #b-2, #b-3 {
        width: 23%;
    }
  }

  .title, .subtitle {
    text-shadow: 2px 2px #000000;
  }

  #cookBookId {
    font-family: Lobster;
    font-size: 70px;
  }
