<section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
        <!-- Table to align buttons and search bar vertically -->
        <table class="table">
            <!-- Buttons inside the header -->
            <thead>
                <tr>
                    <td class="has-text-centered">
                        <h1 class="title is-1 has-text-white">Cookbook</h1>
                        <p class="subtitle has-text-white">The website that helps you to have and share all your cooking inspirations</p>
                        
                        <a routerLink='add-recipe'>
                            <button id="b-1" class="button is-medium has-text-white has-text-weight-semibold" type="button">Add Recipe</button>
                        </a>
                        <a routerLink='my-recipes'>
                            <button id="b-2" class="button is-medium has-text-white has-text-weight-semibold" type="button">My Recipes</button>
                        </a>
                        <a routerLink='saved-recipes'>
                            <button id="b-3" class="button is-medium has-text-white has-text-weight-semibold" type="button">Saved Recipes</button>
                        </a>
                    </td>
                </tr>
            </thead>
            <!-- Search bar inside the footer -->
            <tfoot>
                <tr>
                    <td class="has-text-centered">
                        <app-search-bar></app-search-bar>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>