.hero.has-background-light {
  background-image: url('/assets/img/bg-image3.jpg') !important;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#homeTable {
  width: 100%;
  background: none;
  margin-top: -10%;
}

.title, .subtitle {
  text-shadow: 2px 2px #000000;
}

#learnMoreContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}

#learnMoreIcon {
  color: rgb(255, 255, 255, 0.5);
  position: relative;
  left: 45%;
}