<section class="hero is-fullheight has-background-light">
    <div class="hero-body">
        <table class="table" id="homeTable">
            <thead>
                <tr>
                    <td class="has-text-centered">
                        <h1 id="cookBookId" class="title has-text-white">Cookbook</h1>
                        <p class="subtitle has-text-white">The website that helps you to have and share all your cooking inspirations</p>   
                    </td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td class="has-text-centered" id="searchBarContainer">
                        <app-search-bar></app-search-bar>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div id="learnMoreContainer">
            <a id="learnMoreIcon" pageScroll href="#learnMore">
                <i class="fa fa-chevron-circle-down fa-4x"></i>
            </a>
        </div>
    </div>
</section><!--
<section class="hero" id="learnMore">
    <div class="hero-body">
        <p>Talk about the app</p>
    </div>
</section>-->