.input {
    border-color: darkgoldenrod;
  }

/*mobile*/
#tableResults {
    width: 80%;
    position: absolute;
    border-collapse: collapse;
    background: white;
}
  
/*mobile*/
#findRecipeContainer{
    /*margin-top: 5%;*/
    width: 100%;
}

/*desktop*/
@media only screen and (min-width: 768px) {
    #findRecipeContainer {
        padding-left: 20%;
        padding-right: 20%;
    }  
    #tableResults {
        width: 56.5%;
    } 
}
  
/*ipad*/
@media only screen and (width: 768px) {
    #findRecipeContainer {
        padding-left: 17%;
        padding-right: 17%;
    }
}

.button {
    background: darkgoldenrod;
    width: 100%;
    border: none;
}

.field {
    margin-bottom: 0;
}

tr, td, tbody {
    width: 100%;
    right: 0;
    border: none;
}