<form id="findRecipeContainer" (ngSubmit)="processSearchBarForm()" autocomplete=off>
    <div class="field has-addons">
        <p class="control is-expanded">
            <input (keyup)="onKey($event)" id="searchBarInput" class="input is-large" type="text" name="recipeName" placeholder="Find a recipe" [(ngModel)]="recipeName">
        </p>
        <p class="control has-icons">
            <button class="button is-large has-text-white" type="submit" id="searchButton">
                <span class="icon" id="searchIcon">
                    <i class="fa fa-search"></i>
                </span>
            </button>
        </p>
    </div>
    <table class="table" id="tableResults" style="display: none;">
        <tbody>
            <tr *ngFor="let r of results">
                <td>
                    <a class="has-text-weight-semibold">{{r.title}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>