<form id="findRecipeContainer" (ngSubmit)="processSearchForm()">
    <div class="field has-addons">
        <p class="control is-expanded">
            <input id="searchBarInput" class="input is-large" type="text" name="recipeName" placeholder="Find a recipe" [(ngModel)]="recipeName">
        </p>
        <p class="control has-icons">
            <button class="button is-large has-text-white" type="submit" id="searchButton">
                <span class="icon" id="searchIcon">
                    <i class="fa fa-search"></i>
                </span>
            </button>
        </p>
    </div>
</form>