<section class="hero is-fullheight has-background-light">
    <div class="hero-body">
        <div class="container">
            <p *ngIf="listRecipeContext=='my-recipes'" class="subtitle is-2 has-text-black has-text-weight-semibold">Your list of recipes:</p>
            <p *ngIf="listRecipeContext=='search'" class="subtitle is-2 has-text-black has-text-weight-semibold">Results:</p>
            <div class="columns is-multiline">
                <div class="column is-4" *ngFor="let r of recipes">
                    <div class="card">
                        <div class="card-content">
                            <label class="label has-text-dark has-text-weight-semibold">
                                <span class="icon is-small">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span>Publisher: {{r.user}}</span>
                            </label>
                            <label class="label has-text-dark has-text-weight-semibold">
                                <span class="icon is-small">
                                    <i class="fa fa-paperclip"></i>
                                </span>
                                <span>Title: {{r.title}}</span>
                            </label>
                            <p class="control">
                                <button class="button is-medium has-text-white">
                                    See more
                                </button>
                                <button *ngIf="listRecipeContext=='my-recipes'" class="button is-medium has-text-white">
                                    Edit
                                </button>
                                <button *ngIf="listRecipeContext=='search'" class="button is-medium has-text-white">
                                    Save
                                </button>
                            </p>
                        </div>      
                    </div>      
                </div>
            </div>
        </div>
    </div>
</section>